.trailerError_container {
  position: absolute;
  z-index: 100;
  width: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  line-height: 200px;
  color: white;
  font-size: 26px;
}
